/* Override some defaults */
html,body {
	background-color: #eee;
}

/* 40px to make the container go all the way to the bottom of the topbar */
body {
	padding-top: 40px;
}

/* center align it with the container */
.container > footer p {
	text-align: center;
}

/* downsize our container to make the content feel a bit tighter and more cohesive */
.container {
	/* width: 820px; */
  width: 90%;
}

/* The white background content wrapper */
.content {
	background-color: #fff;
	padding: 20px;
	margin: 0 -20px;
	-webkit-border-radius:0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

/* Page header tweaks */
.page-header {
	background-color: #f5f5f5;
	padding: 20px 20px 10px;
	margin: -20px -20px 20px;
  text-align: center;
}

.rightEntryArea {
  float:right;
	width: 25%;
	//height:450px;
  height:auto;
}

#canvas-main {
    border: 2px solid black;
    background-color: lightgrey;
}

#canvas-bottom {
    border: 2px solid black;
    background-color: lightgrey;
    margin-left: 35px;

}

#canvas-vector {
    border: 2px solid black;
    background-color: lightgrey;
    margin-left: 35px;

}

#canvas-left-side {
	border: 2px solid black;
    background-color: lightgrey;
    margin-left: 5px;
    top: 60px;
}

#display {
  background-color: lightgrey;
}
